print("User enter three arguments")
arg1=input("The first argument:").lower()
arg2=input("The second argument:").lower()
arg3=input("The third argument:").lower()
arglist=[arg1,arg2,arg3]

for arg in arglist:
    if (not(arg.isalpha())):
     print(arg + " is not a word.")
if len(arg1)==len(arg2) or len(arg1)==len(arg3) or len(arg2)==len(arg3):
   print("Arguments should be a different length. ")
   
elif arg1=="deserve" or "serve" or "server" and arg2=="deserve" or "serve" or "server" and arg3=="deserve" or "serve" or "server":       
   print("Player find the longest world. ")
   letterss=['d', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'r', 'r', 'r', 'r', 's', 's', 's', 'v', 'v', 'v']
   letters="dersv"
   x= letters.isalpha()
   if x==False:   
       print("Warning!")
       letterss=['d', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'r', 'r', 'r', 'r', 's', 's', 's', 'v', 'v', 'v']
       letterss.sort()
       print(letterss)     
   print(letterss)
   arguments = ["deserve", "serve", "server"]
   guess1 = ""
   tries=0
   while guess1!= arguments:       
       tries=tries+1        
       x=input("Enter the word:").lower()
       if x =="deserve" :
          print("You won 50 point.")
          print("You found a word from list")
          break          
       elif x=="server" :
          print("You won 30 point.")
          print("You found a word from list")
          break
       elif x== "serve" : 
          print("You won 10 point.")
          print("You found a word from list")
          break
       else : 
          print("You lost")
          break
 
